.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  /* margin-left: 2px; */
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  position: sticky;
  top: 0;
  z-index: 20;
  background: rgba(243, 242, 236, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(16.7px);
  -webkit-backdrop-filter: blur(16.7px);
  border: 1px solid rgba(241, 240, 233, 0.11);
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120%;
  height: 80px;
  margin-left: 70px;
  max-width: 1500px;
}

.nav-logo {
  color: #727865;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: rgb(17, 17, 17);
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #b99b12;
}

.nav-item .active {
  color: #cfbc10;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav-menu {
    display: flex;
    font-size: 1.4rem;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: rgba(243, 242, 236, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(16.7px);
    -webkit-backdrop-filter: blur(16.7px);
    border: 1px solid rgba(241, 240, 233, 0.11);
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #727865;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #727865;
  }
}
